.contact {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 80px;
    padding: 10px 0;
    direction: rtl;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .contact-content {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                background-color: rgba(0, 0, 0, .76);
                display: flex;
                height: 100%;
                justify-content: center;
                width: 50%;
                flex-direction: column;

                >h2 {
                    font-size: 22px;
                    font-weight: 800;
                    color: var(--u-light);
                    text-align: center;
                }

                >form {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-around;
                    width: 100%;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: center;
                    
                    input {
                        width: 90%;
                        height: 55px;
                        font-size: 24px;
                        border-radius: 10px;
                        text-align: right;
                        border: 2px solid var(--u-light);
                        background-color: rgba(255, 255, 255, 0);
                        padding: 0 10px;

                        &::placeholder {
                            text-align: right;
                            color: var(--u-light);
                        }

                        &:focus {
                            border: 2px solid var(--u-dark);
                            background-color: rgb(255, 255, 255);
                        }
                    }

                    textarea {
                        width: 90%;
                        height: 25%;
                        font-size: 24px;
                        border-radius: 10px;
                        text-align: right;
                        border: 2px solid var(--u-light);
                        background-color: rgba(255, 255, 255, 0);
                        padding: 0 10px;

                        &::placeholder {
                            text-align: right;
                            color: var(--u-light);
                        }

                        &:focus {
                            border: 2px solid var(--u-dark);
                            background-color: rgb(255, 255, 255);
                        }
                    }

                    >button {
                        width: 90%;
                        height: 50px;
                        background-color: var(--u-main-color);
                        color: var(--u-light);
                        border: 2px solid var(--u-dark);
                        text-align: center;
                        font-size: 25px;
                        font-weight: 500;
                        letter-spacing: 5px;
                        border-radius: 10px;

                        :hover {
                            background-color: var(--u-sacand-color);
                        }
                    }
                }
            }

            .right {
                background-color: rgba(0, 0, 0, .76);
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-evenly;
                width: 40%;
                color: white;

                p {
                    font-size: 24px;
                    font-weight: 700;
                    font-family: 'Marhey', sans-serif;
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    a {
                        img {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .contact {
        width: 100%;
        min-height: calc(150vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-margin-top: 80px;
        padding: 10px 0;
        overflow: hidden;

        .container {
            .contact-content {
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .left {
                    width: 100%;
                    height: 48%;

                    form {
                        width: 100%;
                        height: 100%;

                        input {
                            width: 90%;
                            height: 55px;
                            font-size: 24px;
                            border-radius: 10px;
                            text-align: right;
                            border: 2px solid rgb(255, 255, 255);
                            background-color: rgba(255, 255, 255, 0);
                            padding: 0 10px;

                            &::placeholder {
                                text-align: right;
                                color: white;
                            }

                            &:focus {
                                background-color: rgb(255, 255, 255);
                            }
                        }

                        textarea {
                            width: 90%;
                            height: 25%;
                            border-radius: 10px;
                            text-align: right;
                            border: 2px solid rgb(255, 255, 255);
                            background-color: rgba(255, 255, 255, 0);
                            padding: 0 10px;

                            &::placeholder {
                                text-align: right;
                                color: white;
                            }

                            &:focus {
                                border: 2px solid rgb(0, 217, 255);
                                background-color: rgb(255, 255, 255);
                            }
                        }

                        >button {
                            width: 90%;
                            height: 50px;
                            text-align: center;
                            font-size: 25px;
                            font-weight: 500;
                            letter-spacing: 5px;
                            border-radius: 10px;
                        }
                    }
                }

                .right {
                    width: 100%;
                    height: 48%;

                    p {
                        font-size: 22px;
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }
        }
    }
}