.rotated-text {
  display: inline-block;
  transform: rotate(90deg);
  white-space: nowrap;
}

/* إضافة أنماط لعرض الأزرار عمودياً على الشاشات المتوسطة والصغيرة */
@media (max-width: 768px) {
  .menu-nav {
    flex-direction: column;
  }

  .menu-ul {
    flex-direction: column;
  }

  .menu-nav-li {
    display: flex;
    justify-content: flex-start;
  }
}